.calendar-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.calendar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.view-toggle {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.header button,
.header select {
  background: #ff7f50;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin: 0 1px;
  width: 125px; /* Ensure consistent width */
  height: 48px; /* Set consistent height */
  text-align: center;
  box-sizing: border-box; 
  vertical-align: middle; /* Align elements vertically */
  line-height: 24px; /* Center text vertically */
}

.header button:hover,
.header select:hover {
  background: #ff4500;
}

.row {
  flex: 1;
  display: flex;
  min-height: 0;
}

.col {
  flex: 1;
  text-align: center;
  padding: 5px;
}

.cell {
  flex: 1;
  padding: 10px;
  min-height: 80px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  transition: background 0.2s;
  cursor: pointer;
}

.cell:hover {
  background-color: #f5f5f5;
}


.cell.disabled {
  background-color: #f0f0f0;
  color: #ccc;
}

.cell.selected {
  background-color: #ff7f50;
  color: white;
}

.number {
  font-size: 20px;
  padding-bottom: 5px;
}

.task-list {
  font-size: 10px;
  margin-top: 5px;
}

.date-text {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: black;
}